* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f6f8;
}


.header {
  background-color: #584454;
  color: white;
  text-align: center;
  padding: 25px;
}

.header p {
  opacity: 0.9;
}


.container {
  padding: 30px;
}


.product-grid {
  display: grid;
  gap: 20px;
}


.product-card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  text-align: center;

  display: flex;
  flex-direction: column;
}


.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}


.product-card h3 {
  margin: 12px 0 5px;
}

.price {
  color: #584454;
  font-weight: bold;
  margin-bottom: 10px;
}


.product-card button {
  margin-top: auto;
  background-color: #584454;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #46363d;
}


.footer {
  background-color: #584454;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}



.product-grid {
  grid-template-columns: 1fr;
}


@media (min-width: 600px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
